.scene
	.wrapper
		.tunnel
			- (1..4).each do |i|
				.side
					- (1..20).each do |i|
						.stroke
							- (1..10).each do |i|
								.square
								
			.side
			.side.highlight
			.side.highlight