$cSky: #120b1c;
$cSynthPurple: #e722f2;
$cSynthYellow: #f7de74;
$cSynthYellowSoft: #f9e9a2;
$cSynthBlue: #6e8d8f;

* {
	box-sizing: border-box;
}

:root {
	font-size: 10px;
}

body {
	font-family: "Poppins", sans-serif;
	background: $cSky;
	background-image: radial-gradient(circle at center, rgba($cSynthBlue, 1), $cSky 60%);
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.scene, .wrapper, .tunnel {
	width: 100vmin;
	height: 100vmin;
}

.scene {
	perspective: 75vmin;
}

.wrapper {
	transform-style: preserve-3d;
}

.tunnel {
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(50vmin);
	
	animation: moveTunnel 1s linear infinite;
}

.side, .highlight {
	width: calc(20 * 10vmin);
	height: 100vmin;
	
	display: flex;
	
	position: absolute;
	left: -50%;
	
	&:nth-child(1) {
		transform: rotateY(90deg) translateZ(50vmin) translateX(50%);
	}
	&:nth-child(2) {
		transform: rotateY(90deg) translateZ(-50vmin) translateX(50%);
	}
	&:nth-child(3) {
		transform: rotateY(90deg) rotateX(90deg) translateZ(50vmin) translateX(50%);
	}
	&:nth-child(4) {
		transform: rotateY(90deg) rotateX(90deg) translateZ(-50vmin) translateX(50%);
	}
	&:nth-child(5) {
		width: 100vmin;
		box-shadow:
			0px 0px 20vmin 10vmin $cSynthYellowSoft,
			inset 0px 0px 50vmin 20vmin rgba($cSynthYellowSoft, 0.5);
		transform: translateZ(calc(-20 * 10vmin)) translateX(50%);
	}
}

.stroke {
	width: 10vmin;
}

.square {
	width: 10vmin;
	aspect-ratio: 1;

	border: 2px solid $cSynthPurple;
	filter: blur(3px);
}

.highlight {
	width: 100vmin;
	box-shadow:
		0px 0px 2vmin 1vmin $cSynthYellow,
		inset 0px 0px 5vmin 2vmin rgba($cSynthYellow, 0.5);
	transform: translateZ(calc(-20 * 10vmin)) translateX(50%);
	
	@for $i from 6 through 7 {
		&:nth-child(#{$i}) {
			animation: highlight 2s (($i - 6) * 1s) cubic-bezier(0, 0.55, 0.45, 1) infinite;
		}
	}
}

@keyframes moveTunnel {
	from {
		transform: translateZ(50vmin);
	}
	to {
		transform: translateZ(60vmin);
	}
}

@keyframes highlight {
	99% {
		transform: translateZ(0) translateX(50%);
		opacity: 1;
	}
	100% {
		transform: translateX(0) translateX(50%);
		opacity: 0;
	}
}
